@import "variables";

header {
  height: 300px;
  width: 100%;
  background-color: $black;
}

.banner_home {
  background-image: url(/images/banner-images/steph-homepage-mobile.jpg);
	padding: 10px 15px;
	margin-bottom: 20px;
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;

    .header-homepage-content {
      margin-top: 300px;
    }

    h1, h2, p {
      text-align: center;
    }

    h1 {
      font-weight: bold;
      font-size: 24px;
    }

    h2 {
      margin-bottom: 15px;
      font-size: 18px;
    }

    p {
      margin-left: auto;
      margin-right: auto;

      em {
        text-transform: uppercase;
      }
    }

    .header-buttons {
      display: none;
      // width: 300px;
      // margin: 25px auto;
      // overflow: auto;
      // padding: 0 4px 10px;

      // a {
      //   display: inline-block;
      //   border: 1px solid #414141;
      //   border-radius: 5px;
      //   background-color: #414141;
      //   text-decoration: none;

      //   div {
      //     border-radius: 5px;
      //   }

      //   div:hover {
      //     border-radius: 5px;
      //     box-shadow: 0 0 10px #000;
      //   }

      //   div:active {
      //     border-radius: 5px;
      //     box-shadow: none;
      //   }

      //   p {
      //     margin: 0;
      //     padding: 5px 25px;
      //     color: #FFF;
      //   }
      // }


      // .get-started {
      //   float: left;
      // }

      // .contact-me {
      //   float: right;
      // }
    }
}


header a.header-links p {
	margin: 0;
	padding: 5px 25px;
	color: #FFF;
}

// .banner_about {
//   background-image: url('./images/banner/steph-homepage-mobile.jpg');
// }

// .banner_coaching-programs {
//   background-image: url('./images/banner/steph-homepage-mobile.jpg');
// }

// .banner_blog {
//   background-image: url('./images/banner/steph-homepage-mobile.jpg');
// }

// .banner_contact {
//   background-image: url('./images/banner/steph-homepage-mobile.jpg');
// }