nav {
	background-color: #414141;
	padding: 3px 0 0;
	text-align: center;
	height: 130px;

	img {
		width: 250px;
	}

	div.nav-links {
		width: 100%;
		background-color: #FF6A5C;

		.burger-menu-border {
			display: inline-block;
			border: 2px solid #FFF;
			border-radius: 5px;
			padding: 4px 10px;
			box-shadow: 1px 1px 3px #000;
			cursor: pointer;
			margin-top: 3px;
	
			.fa-bars {
				display: block;
				font-size: 20px;
				text-align: center;
				color: #FFF;
			}
		}
	
		.burger-menu-border:hover {
			box-shadow: 2px 2px 3px #000;
		}
		
		.burger-menu-border:active {
			box-shadow: 1px 1px 3px #000;
		}

		ul {
			margin: 0;
			padding-left: 0;
			padding-bottom: 5px;
			background-color: #FF6A5C;
			display: none;
			
			a {
				text-decoration: none;
				color: white;
				font-family: Abel;
				font-size: 1.4em;
				text-shadow: 1px 1px 3px #000;

				li {
					list-style-type: none;
				}
			}

			a:hover {
				color: white;
				text-shadow: 2px 2px 3px #000;
			}

			a:active {
				text-shadow: 1px 1px 3px #000;
			}
		}
	}
}

/* ========= Media Queries ========= */
@media screen and (min-width: 318px) {
	nav img {
		width: 300px;
	}
}

@media screen and (min-width: 625px) {
	nav div.nav-links {
		.burger-menu-border {
			display: none;
		}

		ul {
			padding: 2px 0;
			display: block;

			li {
				padding: 0;
				margin: 0 20px;
				display: inline-block;
			}
		}
	}
}