@import "variables";

.newsletter-div {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;

  p {
    text-align: center;
    font-size: 16px;
  }
  
  form {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    .newsletterEmail {
      width: 100%;
      border-radius: 5px;
      border: 1px solid $darkgray;
      height: 35px;
      padding-left: 10px;
      font-size: 16px;
    }
    
    .newsletterSubmit {
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      height: 35px;
      background-color: $darkgray;
      color: $white;
      padding: 0 15px;
    }
  
    .newsletterSubmit:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 767px) {
  .newsletter-div {
    p {
      font-size: 18px;
    }

    form .newsletterEmail {
      font-size: 18px;
    }
  }
}
